<!DOCTYPE html>
<html>

<body>
  <% include ../navbar/navbarArtikel %>

  <div class="container post">
    <div class="row">
      <div class="col-md-6 post-title">
        <h1>Aula</h1>
        <p class="author">
          <strong>Apa sih itu Aula?</strong>
          <span class="text-muted"></span>
          <script>
            document.write(date);
          </script></span>
        </p>
      </div>
      <div class="col-md-6 col-md-offset-0 post-body">
        <p>
          Aula adalah salah satu ruang yang sangat penting di sebuah instansi pendidikan atau sekolah. Selain fungsi
          aula itu
          sendiri yang bisa bermacam-macam, aula selain bisa digunakan untuk ruang rapat atau ruang pertemuan juga bisa
          digunakan
          sebagai lapangan olah raga indoor, pentas seni dan lain sebagainya.
        </p>
        <br />
        <figure>
          <img class="img-thumbnail" alt="aulaa"
            src="http://www.umm.ac.id/files/image/Balai_Aula/dome%20theatre.jpg" />
          <figcaption>Aula Sasana-Prasasana Widya Kusuma Samakta Makarya</figcaption>
        </figure>
        <br />
        <p>
          Seiring kian rumitnya rancangan bangunan, aula tetap menjadi ruangan terbesar, tetapi fungsinya beralih
          menjadi ruangan
          untuk menari dan berpesta, sering kali masih merupakan tempat para pelayan tidur. Aula biasanya berada
          langsung di dalam
          pintu utama sebuah bangunan. Di rumah Britania modern, aula masuk berada setelah pintu depan dan ini tetap
          merupakan
          fitur yang sangat diperlukan, meskipun pada dasarnya hanya merupakan sebuah koridor.
        </p>
        <br />
      </div>
    </div>
  </div>
  <% include ../footer/footer %>
</body>

</html>