<!DOCTYPE html>
<html>
  <body>
    <% include ../navbar/navbarArtikel %>

    <div class="container post">
      <div class="row">
        <div class="col-md-6 post-title">
          <h1>Bahasa Pemrograman</h1>
          <p class="author">
            <strong>Terbaik dan Terkenal</strong>
            <span class="text-muted"></span>
              <script>
                document.write(date);
              </script></span>
          </p>
        </div>
        <div class="col-md-6 col-md-offset-0 post-body">
          <p>
            Jika Anda saat ini sedang akan belajar untuk menjadi seorang programmer, tentu Anda akan merasa bingung dalam memutuskan
            mana yang akan Anda pilih, bagian paling sulit dari pembelajaran pemrograman adalah memutuskan apa bahasa pemrograman
            yang ingin Anda tekuni, bahkan pengembang perangkat lunak baru masih mengalami hal ini. Ini dikarenak terdapat ratusan
            bahasa pemrograman yang digunakan secara luas, masing-masing dengan kompleksitas dan keunikannya sendiri.
          </p>
          <br />
          <figure>
            <img class="img-thumbnail" alt="progremer" src="https://www.itstarterseries.com/wp-content/uploads/2017/09/programmer.jpg" />
            <figcaption>Programmer;</figcaption>
          </figure>
          <br />
          <p>
            Salah satu contoh adalah Javascript, JavaScript benar-benar merupakan bahasa pemrograman yang sangat populer hingga saat ini. Tidak mungkin menjadi
            pengembang perangkat lunak hari ini tanpa menggunakan JavaScript dalam beberapa cara. Menurut Survei Pengembang 2018
            Stack Overflow, JavaScript adalah bahasa yang paling populer di kalangan pengembang untuk tahun keenam secara
            berturut-turut. Hampir 70 persen responden survei melaporkan bahwa mereka telah menggunakan JavaScript pada tahun lalu.
          </p>
          <br />
          <p>
          Selain JavaScript “murni”, ada juga sejumlah pustaka dan kerangka kerja yang dimaksudkan untuk mempermudah pembuatan
          JavaScript. Beberapa kerangka kerja yang paling populer termasuk Angular, React, Vue, Ember dan jQuery. Pengembang
          JavaScript profesional kemungkinan akan membutuhkan pengalaman dengan satu atau lebih dari ini.
          
          Meskipun JavaScript pada dasarnya adalah bahasa front-end yang dijalankan di browser, JavaScript juga dapat digunakan di
          sisi server melalui Node.js untuk membangun aplikasi jaringan yang skalabel. Node.js kompatibel dengan Linux, SunOS, Mac
          OS X dan Windows.
          </p>
          <br />
        </div>
      </div>
    </div>
    <% include ../footer/footer %>
  </body>
</html>
