<!DOCTYPE html>
<html>
  <body>
    <% include ./navbar/navbarPortofolio %>

    <div class="container post">
      <div class="row">
        <div class="col-md-6 post-title">
          <h1>BookingLab</h1>
          <p class="author">
            <strong>Aplikasi Peminjaman Laboratorium Komputer.</strong>
            <span class="text-muted"></span>
              <script>
                document.write(date);
              </script></span>
          </p>
        </div>
        <div class="col-md-6 col-md-offset-0 post-body">
          <p>
            Aplikasi ini memperbolehkan anda untuk meminjam Laboratorium Komputer lewat Aplikasi Web ini, tanpa memerlukan proses manual menuju Pihak Sarana dan Prasarana.
          </p>
          <br />
          <figure>
            <img class="img-thumbnail" alt="oasiss marsss" src="https://i.ytimg.com/vi/5Y1GpL768Sk/maxresdefault.jpg" />
            <figcaption>Laboratorium Komputer; 01;</figcaption>
          </figure>
          <br />
          <p>
            Terdapat 2 pembagian jenis Laboratorium Komputer, berikut contohnya: Laboratorium Komputer ini difasilitasi dengan wifi, yang bisa digunakan oleh orang-orang untuk mengerjakan tugas,
            sekaligus mengakses internet yang disediakan Instansi berpihak.
          </p>
          <br />
          <p>
            Laboratorium Komputer ini lebih dikuhususkan penggunaannya untuk kegiatan belajar mengajar yang berkaitan dengan mata
            kuliah. Laboratorium Komputer B juga dilengkapi dengan aplikasi software yang berkaitan dengan mata kuliah yang
            berlangsung, seperti aplikasi pengolahan data statistik SPSS, aplikasi editor, Adobe Photoshop, Corel Draw dsb. Tentunya
            di laboratorium ini juga difaslitasi akses internet yang bisa digunakan selama kegiatan belajar dan mengajar.
          </p>
          <br />
        </div>
      </div>
    </div>
    <% include footer/footer %>
  </body>
</html>
